<template name="about">
  <h4>Say you and your friends/family decided to do a group khatma
    so you all can encourage each other to keep reading the Quran, then you will need
    this tool to manage distributing the parts among all of you.</h4>
  <h4>This system has the following features:</h4>
  <ul>
    <li>You can create as much khatmat as you want</li>
    <li>For each khatma you should decide the period time in days, and the start date</li>
    <li>Every time you add a period in a khatma, it will calculate the start date automatically from the previous one</li>
    <li>Each new period will move the owners of the parts of the previous period one part forward automatically</li>
    <li>Every user can take the parts he wants, and leave it any time later</li>
    <li>Every part has a done status</li>
  </ul>
  <h4>TODO:</h4>
  <ul>
    <li>Delete un-participated last period by the owner</li>
    <li>Multilingual</li>
    <li>Invite only setting for the whole system or/and single khatma</li>
    <li>Sharing</li>
    <li>Social media login</li>
    <li>Quran reading and tracking</li>
    <li>Mobile app</li>
    <li>User reports</li>
    <li>Home page briefs</li>
    <li>Add memorizing features, Hafizoon</li>
  </ul>
</template>