<template name="home">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to Khatmat</h1>
      <h2>Group Quran reading tracking system.</h2>
	    <h2>What's New in version 1.1:</h2>
	    <ul>
		    <li>New my khatmat page</li>
		    <li>New my parts page</li>
		    <li>Khatma can be deleted by owner, if it has no parts taken by other members</li>
		    <li>New period is only allowed for the owner</li>
		    <li>Speed enhancements</li>
	    </ul>
      <h2><a href="{{pathFor 'khatmat'}}">Show list of Khatmat</a></h2>
    </div>
  </div>
</template>