<template name="home">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to khatmat</h1>

      <h2>This system has the following features:</h2>
      <ul>
        <li>You can create as much khatmat as you want</li>
        <li>For each khatma you should decide the period time in days, and the start date</li>
        <li>Every time you add a period in a khatma, it will calculate the start date automatically</li>
        <li>Each new period will move the owners of the parts of the previous period one part automatically</li>
      </ul>
    </div>
  </div>
</template>