<template name="khatmat">
	{{#each khatmat}}
    {{> khatmatItem}}
  {{/each}}
	<h3>
		{{#if hasPreviousPage}}
			<a href="{{#if previousPageIsHome}}{{pathFor route='khatmat' page=prevPageNum}}{{else}}{{pathFor route='khatmatPage' page=prevPageNum}}{{/if}}">Previous</a>
		{{/if}}
		{{#if hasNextPage}}
			<a href={{pathFor route='khatmatPage' page=nextPageNum}}>Next</a>
		{{/if}}
	</h3>
	{{#if haveNoData}}
		<hr>
	  You can <a href="{{pathFor route='create'}}">create your own khatma</a>.
	{{/if}}
</template>
<template name="khatmatItem">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        <a href="{{pathFor route='periods' khatmaId=_id}}" class="khatmaLink">{{name}}</a>
        {{#if currentUserIsOwnerOrAdmin}}
            <button type="button" class="close deleteKhatma" aria-label="delete"><span aria-hidden="true">&times;</span></button>
        {{/if}}
      </h1>
      Every {{period}} days, start from: {{formatDate startDate}}
      <br>Created by: <strong>{{creatorName}}</strong>, Created at: <strong>{{formatDate createdAt}}</strong>
    </div>
  </div>
</template>
