<template name="khatmat">
  {{> pages}}
  <div class="clearfix"></div>
  {{> pagesNav}}
  <hr>
  You can <a href="{{pathFor route='create'}}">create your own khatma</a>.
</template>
<template name="khatmaItem">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        <a href="{{pathFor route='periods' khatmaId=_id}}" class="khatmaLink">{{name}}</a>
        {{#if currentUserIsOwnerOrAdmin}}
            <button type="button" class="close deleteKhatma" aria-label="delete"><span aria-hidden="true">&times;</span></button>
        {{/if}}
      </h1>
      Every {{period}} days, start from: {{formatDate startDate}}
      <br>Created by: <strong>{{creatorName}}</strong>, Created at: <strong>{{createdAt}}</strong>
    </div>
  </div>
</template>
