<template name="parts">
  {{> khatma currentKhatma}}
  {{> period currentPeriod}}
  {{#each parts}}
    {{> part}}
  {{/each}}
</template>

<template name="part">
	<div class="row">
		<div class="col-xs-1">
			<h4>{{partNumber}}</h4>
		</div>
		<div class="col-xs-1">
			<h4>
				{{#if ownerId}}
					{{#if currentUserIsTheOwner}}
						{{#unless done}}
							<span title="Leave" class="removeOwner glyphicon glyphicon-minus"></span>
						{{/unless}}
					{{/if}}
				{{else}}
					{{#if currentUser}}
						<span title="Take" class="setOwner glyphicon glyphicon-plus"></span>
					{{/if}}
				{{/if}}
			</h4>
		</div>
		<div class="col-xs-1">
			<h4>{{#if ownerId}}
				<label><input
					type="checkbox"
					class="setDone"
					checked="{{done}}"
					disabled="{{#unless currentUserIsTheOwner}}disabled{{/unless}}"></label>
			{{/if}}
			</h4>
		</div>
		<div class="col-xs-9">
			<h4>{{#if ownerId}}
				{{ownerName}}
			{{/if}}</h4>
		</div>
	</div>
</template>
<template name="period">
  <h2>Period Start date: {{formatDate startDate}}</h2>
</template>
