<template name="parts">
  {{> khatma currentKhatma}}
  {{> period currentPeriod}}
	<div class="row">
		<div class="col-xs-2">#</div>
		<div class="col-xs-3">Owner</div>
    <div class="col-xs-3">Done</div>
    <div class="col-xs-4">&nbsp;</div>
	</div>
  {{#each parts}}
    {{> part}}
  {{/each}}

</template>

<template name="part">
	<div class="row">
		<div class="col-xs-2">{{partNumber}}</div>
		<div class="col-xs-3">
			{{#if ownerId}}
				{{ownerName}}
			{{/if}}
		</div>
		<div class="col-xs-3">
			{{#if ownerId}}
				<label><input
					type="checkbox"
					class="setDone"
					checked="{{done}}"
					disabled="{{#unless currentUserIsTheOwner}}disabled{{/unless}}"></label>
			{{/if}}
		</div>
		<div class="col-xs-4">
			{{#if ownerId}}
				{{#if currentUserIsTheOwner}}
					{{#unless done}}
						<a href="" class="removeOwner">Leave</a>
					{{/unless}}
				{{/if}}
			{{else}}
				{{#if currentUser}}
					<a href="" class="setOwner">Take</a>
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>
<template name="period">
  <h2>Period Start date: {{formatDate startDate}}</h2>
</template>
