<template name="createPeriod">
  <form class="createPeriodForm">
    <button type="submit" class="btn btn-default">Add new period</button>
  </form>
</template>

<template name="periods">
  {{> khatma currentKhatma}}
  {{#if currentUserIsOwner}}
    {{> createPeriod}}
  {{/if}}
  {{#each periods}}
    <h2>
      <a href="{{pathFor route='parts' periodId=_id}}" class="periodLink">Start date: {{formatDate startDate}}</a>
    </h2>
  {{/each}}
</template>
<template name="khatma">
  <h1>Khatma: <a href="{{pathFor route='periods' khatmaId=_id}}">{{name}}</a></h1>
  Period: {{period}}, Start Date: {{formatDate  startDate}}
</template>
