<template name="myKhatmat">
	<h1>My Khatmat</h1>
	{{#each myKhatmat}}
		{{> myKhatmatItem}}
	{{/each}}
	<nav>
		<ul class="pager">
			{{#if hasPreviousPage}}
				<li><a href="{{#if previousPageIsHome}}{{pathFor route='my.khatmat' page=prevPageNum}}{{else}}{{pathFor route='my.khatmat.page' page=prevPageNum}}{{/if}}">Previous</a></li>
			{{/if}}
			{{#if hasNextPage}}
				<li><a href={{pathFor route='my.khatmat.page' page=nextPageNum}}>Next</a></li>
			{{/if}}
		</ul>
	</nav>

	{{#if haveNoData}}
    <div class="alert alert-info">You don't have any khatma yet. You can <a class="alert-link" href="{{pathFor 'create'}}">create</a> one now.</div>
  {{/if}}
</template>
<template name="myKhatmatItem">
	<div class="row">
		<div class="col-xs-4">
			<h4><a href="{{pathFor 'periods' khatmaId=_id}}">{{name}}</a></h4>
		</div>
    <div class="col-xs-4">
	    <h4>Every {{period}} days</h4>
    </div>
    <div class="col-xs-4">
	    <h4>Started: {{formatDate startDate}}</h4>
    </div>
	</div>
</template>