<template name="myParts">
	<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<th>Khatma</th>
				<th>Period</th>
				<th>#</th>
				<th>Done</th>
				<th>Options</th>
			</tr>
			</thead>
			<tbody>

			{{#each myParts}}
				{{> myPartsItem}}
			{{/each}}
			</tbody>
		</table>
	</div>

	<h3>
		{{#if hasPreviousPage}}
			<a href="{{#if previousPageIsHome}}{{pathFor route='my.parts' page=prevPageNum}}{{else}}{{pathFor route='my.parts.page' page=prevPageNum}}{{/if}}">Previous</a>
		{{/if}}
		{{#if hasNextPage}}
			<a href={{pathFor route='my.parts.page' page=nextPageNum}}>Next</a>
		{{/if}}
	</h3>

	{{#if haveNoData}}
    You don't have any parts yet. You are wasting your life!!! Go, pick some part from a khatma and read, may Allah (SWT) guide you to the truth before you have no chance.
  {{/if}}
</template>
<template name="myPartsItem">
	<tr>
		<td>
			<a href="{{pathFor 'periods'}}">{{khatmaName}}</a>
		</td>
		<td>
			<a href="{{pathFor 'parts'}}">{{formatDate periodStartDate}}</a>
		</td>
		<td>
			{{partNumber}}
		</td>
		<td>
			<label><input
				type="checkbox"
				class="setDone"
				checked="{{done}}"
				></label>
		</td>
		<td>
			{{#unless done}}
				<a href="" class="removeOwner">Leave</a>
			{{/unless}}
		</td>
	</tr>
</template>