<template name="myParts">
	<div class="row">
		<div class="col-xs-4">Khatma</div>
		<div class="col-xs-3">Period</div>
		<div class="col-xs-1">#</div>
		<div class="col-xs-1">Done</div>
		<div class="col-xs-3">&nbsp;</div>
	</div>
	{{#each myParts}}
		{{> myPartsItem}}
	{{/each}}

	<h3>
		{{#if hasPreviousPage}}
			<a href="{{#if previousPageIsHome}}{{pathFor route='my.parts' page=prevPageNum}}{{else}}{{pathFor route='my.parts.page' page=prevPageNum}}{{/if}}">Previous</a>
		{{/if}}
		{{#if hasNextPage}}
			<a href={{pathFor route='my.parts.page' page=nextPageNum}}>Next</a>
		{{/if}}
	</h3>

	{{#if haveNoData}}
    You don't have any parts yet. You are wasting your life!!! Go, pick some part from a khatma and read, may Allah (SWT) guide you to the truth before you have no chance.
  {{/if}}
</template>
<template name="myPartsItem">
	<div class="row">
		<div class="col-xs-4"><a href="{{pathFor 'periods'}}">{{khatmaName}}</a></div>
		<div class="col-xs-3"><a href="{{pathFor 'parts'}}">{{formatDate periodStartDate}}</a></div>
		<div class="col-xs-1">{{partNumber}}</div>
		<div class="col-xs-1">
			<label><input
				type="checkbox"
				class="setDone"
				checked="{{done}}"
				></label>
		</div>
		<div class="col-xs-3">
			{{#unless done}}
				<a href="" class="removeOwner">Leave</a>
			{{/unless}}
		</div>
	</div>
</template>